aiohttp==2.3.0
-e .
aiohttp-session==2.7.0
flake8==3.4.1
isort==4.2.15
pytest==3.2.3
pytest-aiohttp==0.1.3
pytest-cov==2.5.1
tox==2.9.1
yarl<1.0  # pin version because aiohttp==2.x doesn't support yarl 1.x
